<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= Persona.model_name.human %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to "#{persona.nombre} #{persona.apellido}", persona %></td>
        <td><%= link_to t('navigation.edit'), edit_persona_path(persona) %></td>
        <td><%= link_to t('navigation.destroy'), persona, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_persona_path %>
