<h2 class="text-muted"><%= t '.title' %></h2>

<%= form_for :persona, url: personas_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <%= text_field_tag :q, params[:q], autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.submit t('.search'), class: 'btn btn-default btn-block' %> <%= ver_todos %>
    </div>
  </div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= Persona.model_name.human %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to "#{persona.nombre} #{persona.apellido}", persona %></td>
        <td>
          <%= link_to edit_persona_path(persona), title: t('navigation.edit') do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
        <td>
          <%= link_to persona, title: t('navigation.destroy'), method: :delete, data: { confirm: t('messages.confirm') } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_persona_path, class: 'btn btn-primary' %>
