<h1>
  <span class="glyphicon glyphicon-user"></span>
  <%= @persona.nombre %> <%= @persona.apellido %>
</h1>

<p>
  <%= mail_to @persona.correo %>
</p>

<%= link_to t('navigation.edit'), edit_persona_path(@persona) %> |
<%= link_to t('navigation.back'), personas_path %>
