<p id="notice"><%= notice %></p>

<h1>
  <%= @persona.nombre %> <%= @persona.apellido %>
</h1>

<p>
  <strong>Correo:</strong>
  <%= mail_to @persona.correo %>
</p>

<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Volver', personas_path %>
