<p id="notice"><%= notice %></p>

<h1>
  <%= @persona.nombre %> <%= @persona.apellido %>
</h1>

<p>
  <strong><%= Persona.human_attribute_name 'correo' %>:</strong>
  <%= mail_to @persona.correo %>
</p>

<%= link_to t('navigation.edit'), edit_persona_path(@persona) %> |
<%= link_to t('navigation.back'), personas_path %>
