<%= form_for(@mensaje) do |f| %>
  <% if @mensaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.template.header', model: Mensaje.model_name.human, count: @mensaje.errors.size %></h2>

      <ul>
      <% @mensaje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuerpo %><br>
    <%= f.text_area :cuerpo, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :persona_id %><br>
    <%= f.text_field(
      :persona,
      data: {
        autocomplete_for: '#mensaje_persona_id',
        autocomplete_url: personas_path
      }
    ) %>
    <%= f.hidden_field :persona_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
