<p id="notice"><%= notice %></p>

<p>
  <strong><%= Mensaje.human_attribute_name 'cuerpo' %>:</strong>
</p>

<%= simple_format @mensaje.cuerpo %>

<p>
  <strong><%= Mensaje.human_attribute_name 'persona' %>:</strong>
  <%= @mensaje.persona %>
</p>

<%= link_to t('navigation.edit'), edit_mensaje_path(@mensaje) %> |
<%= link_to t('navigation.back'), mensajes_path %>
