<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Foro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'comun/mensajes' if mensaje %>
    <%= render 'comun/menu' if persona_actual %>
    <%= yield %>
  </div>
</body>
</html>
